body{
    background-color: #FFECEF;
    text-align: center;
    background: url("bgimg3.png") ;

}
img.profile{
    border-radius: 100%;
    height: 2rem;
}
div.inst{
    color: #251B37;
    margin-left: 2%;
}
a.navbar-link{
    text-align: right;
}
nav{
    background-color: #FFCACA;
}
a.nav-link{
    color: #251B37;
}
div.right{
    text-align: right;
}
#navbarSupportedContent{
    padding-right: 2%;
}
h1{
    padding: 3%;
    text-align: center;
    color: #251B37;
}

div.item{
    color:#251B37;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: bold;
}
button.tic{
    margin-top: 2%;
}
a#raise{
    color: white;
}

.logoutbtn{
    border-radius: 100%;
    background-color: #f79e9e;
    margin-top: 8%;
}