body{
    background-color: #FFECEF;
}
.cardbody-color{
  background-color: #FFECEF;
}

.btn-color{
  background-color: #0e1c36;
  color: #fff;
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit:cover;
}

.cardbody-color{
  background-color: #FFECEF;
}

a{
  text-decoration: none;
}
