<!DOCTYPE html>
<html lang="en">

<style>
    table, th, td ,tr{
        border:1px solid black;
        padding: 20px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>

        <tr>
            <th>
                Category
            </th>
            
            <th>
                Title
            </th>
            
            <th>
                Description
            </th>
            
            <th>
                Status
            </th>
        </tr>
        
            <% arr.forEach(function(ele){ %>
                <tr>
                    <td><%= ele.category %></td>
                    <td><%= ele.title %></td>
                    <td><%= ele.description %></td>
                    <td><%= ele.status %></td>
                </tr>
            <% }) %>
    </table>
   
</body>
</html>